# ci stuff
*.php~
*.sql~
*.log
ci-system/mysqlpassword.txt
ci-system/changelog.json

# server data
osu.ppy.sh/inc/config.php
osu.ppy.sh/.htaccess
osu.ppy.sh/ss/*.jpg
osu.ppy.sh/web/*.txt
osu.ppy.sh/replays/*.osr
a.ppy.sh/avatars/*.*

# other stuff
osu.ppy.sh/adminer.php
push-to-prod.bat
migrations/latest.txt
