# pycache
**/__pycache__

# composer
vendor

# ci stuff
*.php~
*.sql~
*.log
ci-system/cikey.txt
ci-system/changelog.json
ci-system/changelog.txt
migrations/latest.txt

# server data
osu.ppy.sh/inc/config.php
osu.ppy.sh/.htaccess
osu.ppy.sh/ss/*.jpg
osu.ppy.sh/web/*.txt
osu.ppy.sh/replays/*.osr
osu.ppy.sh/replays_full/*.osr
a.ppy.sh/avatars/*.*

# pep.py config and WIP files
c.ppy.sh/runserver.bat
c.ppy.sh/config.ini

# lets config, data, WIP files and pp formula
lets/runserver.bat
lets/config.ini
lets/.data
lets/ripp.py

# backup system
backup-system/config.ini
backup-system/temp/*.*

# other stuff
osu.ppy.sh/adminer.php
push-to-prod.bat
