# ci stuff
*.php~
*.sql~
*.log
ci-system/mysqlpassword.txt
ci/config.php

# server data
osu.ppy.sh/inc/config.php
osu.ppy.sh/.htaccess
osu.ppy.sh/ss/*.jpg
osu.ppy.sh/web/*.txt
osu.ppy.sh/replays/*.osr

# other stuff
osu.ppy.sh/adminer.php